- repo: local
  hooks:
    - id: pylint
      name: pylint
      entry: pylint
      language: system
      types: [python]
      stages: [push]
      require_serial: true
      args:
        - -rn  # Only display messages
        #- -sn  # Don't display the score
